.rectangle {
  display: inline-block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 180px;
  height: 180px;
  margin: auto;
  border: 1px solid #ccc;
  background: none transparent;
}
