.note-title {
  line-height: 44px;
}

.title-wrapper,
.textarea-wrapper {
  width: 90%;
  margin: 0px auto;
  text-align: center;

  border: 1px solid #000000;
}

.uri-wrapper {
  width: 90%;
  margin: 0px auto;
  text-align: center;
}

.uri-wrapper input {
  height: 52px;
  line-height: 52px;
  border: 1px solid #000000;
  margin: 0px;
}

.uri-wrapper button {
  height: 52px;
  margin: 0px;
}

.textarea-wrapper {
  height: 150px;
  padding: 10px;
}

textarea {
  height: 100px;
}
